
.sposiboplaty {
  position: relative;
  border: 2px solid $nonactive-color;
  border-radius: $radius10;
  box-sizing: border-box;
  width: 100%;
  min-height: 250px;
  padding: 15px 0 0 20px;
  display: flex;
  justify-content: space-between;
  flex-flow:row wrap;
  p {
    font: 14px "Geometria";
    text-align: left;
    width: 100%;
    margin: 0 0 5px;
  }
  div {
    border-radius: $radius10;
  }
}

.column__left {
  width: 60%;
  min-width: 383px;
}

.column__right {
  width: 35%;
  min-width: 375px;
  margin-right: 5px;
}

.sposiboplaty__box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-flow: row wrap;
}

.sposiboplaty__card {
  width: 170px;
  height: 85px;
  margin: 0 18px 18px 0;
  flex: 0 0 auto;
  p {
    margin-bottom: 0;
  }
  background-image: url('../img/cards/css_sprites.png');
  &:hover{
    background-image: url('../img/cards/css_sprites_hover.png');
  }
  &.sposiboplaty__card--visa{
    background-position:  -770px -10px;
    &:hover{
      background-position: -580px -10px;
    }
  }
  &.sposiboplaty__card--pryvat {
    background-position: -580px -10px;
    &:hover{
      background-position:  -770px -10px;
    }
  }
  &.sposiboplaty__card--terminal {
    background-position: -10px -10px;
  }
  &.sposiboplaty__card--webmoney {
    background-position: -200px -10px;
  }
  &.sposiboplaty__card--paypall{
    background-position: -390px -10px;
  }

}

.sposiboplaty__carddata {
  width: 375px;
  height: 188px;
  background-color: $nonactive-color;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  p {
    color: white;
  }
  input{
    height: 40px;
    padding:1px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
  }
}
.sposiboplaty__carddata__cardnumber {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  margin: 10px 15px;
  p {
    flex: 1 100%;
  }
}
.input {
  width: 74px;
  flex: 1;
  background-color: $inputBackgrounds;
}
.input_wide{
  width:130px;
}
//дзьобик
.sposiboplaty:before {
  content: "";
  border-left: 1px solid $nonactive-color;
  border-top: 1px solid $nonactive-color;
  background: white ;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -13px;
  left: calc(32% - 20px);
  transform: rotate(45deg);
}